/* --- Кнопки --- */

.order-button {
    @include pink-button;
}

.commercial-offer {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: $color-text-primary;
    text-decoration: none;
    padding: 16px;
    &:after {
        content: ' >';
        color: $color-pink;
    }
}