/* --- Футер --- */

.main-footer {
    padding: 24px 16px;
    text-align: center;
    font-size: 14px;
    color: $color-text-secondary;
    border-top: 1px solid $color-border-header;
    display: flex;
    flex-direction: column;
    gap: 16px;
    a {
        color: $color-text-secondary;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        display: none;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    @media (min-width: $breakpoint-desktop) {
        .main-footer {
            grid-area: footer;
            padding-left: 40px;
            ;
        }
    }
    .footer-company {
        flex: 1;
    }
    .footer-link {
        flex: 1;
        text-align: center;
    }
    .footer-info {
        flex: 1;
        text-align: right;
    }
}