/* --- Секция "Hero" (текст + картинка) --- */

.services__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
    }
}

.services__text {
    font-size: 14px;
    line-height: 1.5;
    flex: 1;
    max-height: 90px; // Скрываем текст
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    // Модификатор от JS
    &--expanded {
        max-height: 1000px;
    }
    p {
        margin: 0 0 12px 0;
    }
}

.services__more {
    display: inline-block;
    margin-top: 12px;
    color: $color-text-primary;
    text-decoration: none;
    font-weight: bold;
}

.services__image {
    flex: 1;
    img {
        width: 100%;
        border-radius: 8px;
    }
    @media (min-width: $breakpoint-desktop) {
        width: 50%;
        max-width: 530px;
        flex: none; // Убираем flex: 1
    }
}