/* --- Обёртка контента <main> --- */

.services {
    padding: 16px;
    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    @media (min-width: $breakpoint-desktop) {
        grid-area: main;
        /* <--- ДОБАВЬ ЭТУ СТРОКУ */
        padding: 40px;
        height: 100%;
        /* <--- ДОБАВЬ ЭТУ СТРОКУ */
        overflow-y: auto;
        /* <--- ДОБАВЬ ЭТУ СТРОКУ (для скролла) */
        &__title {
            font-size: 28px;
        }
    }
}