/* --- Стили Swiper --- */

.brands-swiper {
    padding: 0 16px 30px 16px; // Отступ для пагинации
    .swiper-pagination-bullet {
        background: $color-pagination;
    }
    .swiper-pagination-bullet-active {
        background: $color-pink;
    }
    @media (min-width: $breakpoint-tablet) {
        display: none !important; // Скрываем на планшете
    }
}