/* --- Переменные --- */

// Цвета
$color-pink: #ff4081;
$color-text-primary: #1B1C21;
$color-text-secondary: #7E7E82;
$color-bg: #f9f9f9;
$color-white: #fff;
$color-border: #EAEAEA;
$color-border-light: #f0f0f0;
$color-border-header: #ddd;
$color-pagination: #B5B6BC;
// Медиа-запросы (точки перелома)
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1120px;